html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* ☆☆☆☆☆ Main Contents ☆☆☆☆☆ */
#catalog-area {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 402px);
  grid-auto-rows: 457px;
  grid-gap: 32px;
  justify-content: center;
  margin-bottom: 32px;
}

.readme {
  text-align: center;
  border: 1px solid #d0d0d0;
}

.wrap-iframe {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.readme iframe {
  width: 540px;
  height: 540px;
  border: 0;
  transform: scale(0.74);
  transform-origin: 0 0;
}

.readme p {
  display: flex;
  margin: 0;
  padding: 16px 0px;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #d0d0d0;
}

.readme img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  align-self: center;
}

.readme a {
  text-decoration: none;
  line-height: 24px;
  align-self: center;
  font-size: large;
  color: #424242;
}

.readme a:hover {
  color: #9e9e9e;
}

iframe {
  display: block;
  width: 400px;
  height: 400px;
  border: none;
}

.md-content {
  padding: 32px;
  text-align: left;
}
