html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* ☆☆☆☆☆ Main Contents ☆☆☆☆☆ */
div.error-content {
  width: 100%;
  min-width: 750px;
  height: calc(100vh - 283px);
  background-image: url("/src/images/penguin.jpg");
  background-size: cover;
  background-position: center center;
}

div.error-pop {
  display: inline-block;
  position: relative;
  margin: 50px auto 0 10%;
  padding: 16px 32px;
  background: white;
  border-radius: 16px;
  font-size: 32px;
}

div.error-pop:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  right: -40px;
  bottom: -13px;
  background: white;
  border-radius: 50%;
}

div.error-pop:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  right: -24px;
  bottom: -5px;
  background: white;
  border-radius: 50%;
}

div.error-pop p {
  margin: 0;
  padding: 0;
}
