html {
  height: 100%;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

input#submit {
  margin: 20px auto 0;
  background-color: #00897b;
  padding: 3px 8px;
  color: #eceff1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p.alert_text {
  color: #f00;
  margin-top: 8px;
  margin-bottom: 0;
}

div.contents {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 90%;
}

div.edit-area {
  width: 49%;
  height: auto;
}

div.edit-inner {
  padding: 15px;
  border: 1px solid;
}

div.preview-area {
  width: 49%;
  height: auto;
}

div.md_content {
  padding: 15px;
  text-align: left;
  border: 1px dashed;
}
