html {
  height: 100%;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* === sample code === */
input.countButton {
  display: inline-block;
  padding: 0.5em 1em;
  width: 120px;
  font-size: 18px;
  text-decoration: none;
  color: #263238;
  background: #fafafa;
  border-bottom: solid 4px #e0e0e0;
  border-radius: 3px;
}

input.countButton:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

input.countButton:disabled {
  color: #bdbdbd;
  background: #e0e0e0;
  border-bottom: solid 4px #9e9e9e;
}
/* === sample code === */

pre#result {
  margin: 0 auto;
  width: 400px;
  text-align: left;
}

.test {
    position: absolute;
    top: 300px
}

wrap-multiline-field {
    height: 300px;
    /* display: block; */
}

wrap-radio {
    height: 300px;
}