.one-line-field p {
  display: inline-block;
  margin-top: 0;
  text-align: left;
  hyphens: auto;
}

.one-line-field .mark-required {
  margin-left: 4px;
  color: #f44336;
}

.one-line-field div.container {
  display: flex;
  margin-bottom: 10px;
}

.one-line-field input[type="text"] {
  padding: 3px;
  width: 100%;
}

.one-line-field input[type="button"] {
  padding: 3px 8px;
  color: #eceff1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.one-line-field .delete {
  align-self: center;
  margin-left: 8px;
  background-color: #f44336;
}

.one-line-field .add {
  background-color: #00897b;
}

.one-line-field .warning {
  border: solid 1.3px #e53935;
  border-radius: 2px;
}
